@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

table th, td {
  @apply text-xl font-normal p-4 text-right;
}

table th:first-child,
table td:first-child {
  @apply pl-8 text-left;
}

table th:last-child,
table td:last-child {
  @apply pr-8;
}